*~
ABOUT-NLS
aclocal.m4
compile
config.*
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1

autom4te.cache/
m4/
panel-plugin/.deps
panel-plugin/.libs
panel-plugin/*.la
panel-plugin/*.lo
panel-plugin/indicator.desktop
panel-plugin/indicator.desktop.in
panel-plugin/indicator-dialog_ui.h
po/*.gmo
po/Makefile.in.in
po/stamp-po
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/*.pot
po/POTFILES
