aclocal.m4
compile
config.*
configure
configure.ac
depcomp
INSTALL
install-sh
intltool-*
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1

autom4te.cache/
m4/
panel-plugin/.deps
panel-plugin/.libs
panel-plugin/*.la
panel-plugin/*.lo
panel-plugin/indicator.desktop
panel-plugin/indicator.desktop.in
panel-plugin/indicator-dialog_ui.h
po/*.gmo
po/.intltool-merge-cache*
po/Makefile.in.in
po/stamp-it
po/POTFILES
